sold
*.o

.deps/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
depcomp
install-sh
missing

debian/files
debian/sold.debhelper.log
debian/sold.postinst.debhelper
debian/sold.postrm.debhelper
debian/sold.prerm.debhelper
debian/sold.substvars

.issues/*
